# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

data_path = 'data/titanic/'
df = pd.read_csv(data_path + 'train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
mean_df = df.groupby(['Pclass'])['Fare'].mean().reset_index().rename(columns={'Fare': 'Fare_mean'})
mode_df = df.groupby(['Pclass'])['Fare'].apply(lambda x: x.mode()[0]).reset_index().rename(columns={'Fare': 'Fare_mode'})
median_df = df.groupby(['Pclass'])['Fare'].median().reset_index().rename(columns={'Fare': 'Fare_median'})
max_df = df.groupby(['Pclass'])['Fare'].max().reset_index().rename(columns={'Fare': 'Fare_max'})

df = pd.merge(df, mean_df, how = 'left', on = ['Pclass'])
df = pd.merge(df, mode_df, how = 'left', on = ['Pclass'])
df = pd.merge(df, median_df, how = 'left', on = ['Pclass'])
df = pd.merge(df, max_df, how = 'left', on = ['Pclass'])

df.drop(['Pclass'], axis = 1)

,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_mean,Fare_mode,Fare_median,Fare_max
0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,13.675550,8.05,8.0500,69.5500
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,84.154687,26.55,60.2875,512.3292
2,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,13.675550,8.05,8.0500,69.5500
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,84.154687,26.55,60.2875,512.3292
4,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,13.675550,8.05,8.0500,69.5500
5,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,13.675550,8.05,8.0500,69.5500
6,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,84.154687,26.55,60.2875,512.3292
7,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,13.675550,8.05,8.0500,69.5500
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,13.675550,8.05,8.0500,69.5500
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,20.662183,13.00,14.2500,73.5000
10,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,13.675550,8.05,8.0500,69.5500
11,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,84.154687,26.55,60.2875,512.3292
12,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,13.675550,8.05,8.0500,69.5500
13,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,13.675550,8.05,8.0500,69.5500
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,13.675550,8.05,8.0500,69.5500
15,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,20.662183,13.00,14.2500,73.5000
16,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,13.675550,8.05,8.0500,69.5500
17,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,20.662183,13.00,14.2500,73.5000
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,13.675550,8.05,8.0500,69.5500
19,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,13.675550,8.05,8.0500,69.5500
20,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,20.662183,13.00,14.2500,73.5000
21,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,20.662183,13.00,14.2500,73.5000
22,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,13.675550,8.05,8.0500,69.5500
23,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,84.154687,26.55,60.2875,512.3292
24,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,13.675550,8.05,8.0500,69.5500
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,13.675550,8.05,8.0500,69.5500
26,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,13.675550,8.05,8.0500,69.5500
27,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,84.154687,26.55,60.2875,512.3292
28,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,13.675550,8.05,8.0500,69.5500
29,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,13.675550,8.05,8.0500,69.5500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,20.662183,13.00,14.2500,73.5000
862,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,84.154687,26.55,60.2875,512.3292
863,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,13.675550,8.05,8.0500,69.5500
864,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,20.662183,13.00,14.2500,73.5000
865,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,20.662183,13.00,14.2500,73.5000
866,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,20.662183,13.00,14.2500,73.5000
867,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,84.154687,26.55,60.2875,512.3292
868,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,13.675550,8.05,8.0500,69.5500
869,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,13.675550,8.05,8.0500,69.5500
870,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,13.675550,8.05,8.0500,69.5500
871,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,84.154687,26.55,60.2875,512.3292
872,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,84.154687,26.55,60.2875,512.3292
873,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,13.675550,8.05,8.0500,69.5500
874,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,20.662183,13.00,14.2500,73.5000
875,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,13.675550,8.05,8.0500,69.5500
876,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,13.675550,8.05,8.0500,69.5500
877,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,13.675550,8.05,8.0500,69.5500
878,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,13.675550,8.05,8.0500,69.5500
879,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,84.154687,26.55,60.2875,512.3292
880,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,20.662183,13.00,14.2500,73.5000
881,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,13.675550,8.05,8.0500,69.5500
882,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,13.675550,8.05,8.0500,69.5500
883,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,20.662183,13.00,14.2500,73.5000
884,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,13.675550,8.05,8.0500,69.5500
885,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,13.675550,8.05,8.0500,69.5500
886,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,20.662183,13.00,14.2500,73.5000
887,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,84.154687,26.55,60.2875,512.3292
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,13.675550,8.05,8.0500,69.5500
889,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,84.154687,26.55,60.2875,512.3292
890,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,13.675550,8.05,8.0500,69.5500

In [3]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

9 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Fare_mean', 'Fare_mode', 'Fare_median', 'Fare_max']

,Pclass,Age,SibSp,Parch,Fare,Fare_mean,Fare_mode,Fare_median,Fare_max
0,3,22.0,1,0,7.2500,13.675550,8.05,8.0500,69.5500
1,1,38.0,1,0,71.2833,84.154687,26.55,60.2875,512.3292
2,3,26.0,0,0,7.9250,13.675550,8.05,8.0500,69.5500
3,1,35.0,1,0,53.1000,84.154687,26.55,60.2875,512.3292
4,3,35.0,0,0,8.0500,13.675550,8.05,8.0500,69.5500

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [4]:
# 原始特徵 + 邏輯斯迴歸
df_ori = df.drop(['Fare_mean', 'Fare_mode', 'Fare_median', 'Fare_max'], axis = 1)

train_X = MMEncoder.fit_transform(df_ori.astype('float'))
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [5]:
# 新特徵 + 邏輯斯迴歸
train_X = MMEncoder.fit_transform(df.astype('float'))
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7049872206659581